<%layout('layouts/boilerplate')%>
   <h1>All Users</h1> 
    
        <% for(let user of users){ %>

<div class="card mb-3" >
    <div class="row">
        <div class="col-md-4">
            <%for(let img of user.images){%>
            <img class="img-fliud" alt="" height="200" width="200" src="<%=img.url%>">
<%}%>
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">
       Name: <%= user.username %> </h5>
        <p class="card-text">Role:  <%= user.role %> </p>
        <a href="/users/<%= user._id %> " class="btn btn-primary">View <%= user.username %>  </a>
    </div>
</div>
</div>
 </div>
  
            <% } %>